
.slide01, .slide02, .slide03, .slide04, .slide05 {
	width:100%;
	height:483px;
	float:left;
	background-position: center top;
}
.slide01{
	
	background-image: url(../images/best-line-road-cargo-movers-services-provide-dubai-uae.jpg);
	
}
.slide02{
	
	background-image: url(../images/best-line-cargo-clearing-packaging-freight-forwarding-door-to-door-services-provider-dubai.jpg);
	
}

.slide03{
	background-image: url(../images/best-line-express-cargo-warehousing-land-transport-services-provider-dubai.jpg);
}

.slide04{
	background-image: url(../images/best-line-road-cargo-warehousing-freight-forwarding-express-cargo-clearing-packaging-services-company-dubai.jpg);
}


/* CSS Document */

.skdslider{
 height:483px;
 position: relative;
 overflow:hidden;


}
.skdslider ul.slides{
	margin:0;
	padding:0;
	list-style-type:none;
	}

.skdslider ul.slides li
{
   height:483px;
   left: 0;
   position: absolute;
   top: 0;
   display: none;
   width:100%;
}
/*.skdslider ul.slides li img{
    width: 100%;
	height:100%;
	border:0;
}*/

.skdslider .slide-navs {
    bottom: 20px;
    left: 50%;
    position: absolute;
	list-style-type: none;
	 margin: 0;
    padding: 0;
}


.skdslider .slide-navs li {
    float: left;
	background: url(../images/slide-bg.png) no-repeat scroll 0 0 transparent;
	height:12px;
	width:12px;
	margin-right:4px;
	cursor:pointer;
}
.skdslider .slide-navs li.current-slide {
  background: url(../images/slide-bg-active.png) no-repeat scroll 0 0 transparent;
}
.skdslider .slide-desc {
    background: url(../images/slide_desc.png) repeat scroll 0 0 transparent;
    left: 0;
    padding: 6px 25px 10px 85px;
    position: absolute;
    top: 327px;
    width: 50%;
}

.skdslider a.prev{
    background: url(../images/left.png) no-repeat scroll 0 0 transparent;
	width:35px;
	height:35px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:44%;
	left:2%;
	
}

.skdslider a.next{
    background: url(../images/right.png) no-repeat scroll 0 0 transparent;
	width:35px;
	height:35px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:44%;
	right:2%;
	
}
.skdslider a.prev:hover{
  
}
.skdslider a.next:hover{
  
}

.skdslider a.play{
    background: url(../images/play.png) no-repeat scroll center center;
	width:35px;
	height:35px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:44%;
	left:48%;
	
}

.skdslider a.pause{
    background: url(../images/pause.png) no-repeat scroll center center;
	width:35px;
	height:35px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:44%;
	left:48%;
	
}